<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.hive.grok-biweekly</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>REPLACE_REPO/scripts/hive/grok-biweekly-dispatch.sh</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/usr/local/bin:/usr/bin:/bin:/opt/homebrew/bin</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Weekday</key>
    <integer>1</integer>
    <key>Hour</key>
    <integer>9</integer>
    <key>Minute</key>
    <integer>15</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/tmp/grok-biweekly-dispatch.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/grok-biweekly-dispatch.stderr.log</string>
  <key>RunAtLoad</key>
  <false/>
</dict>
</plist>
